<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>


    <style>
        body{
        justify-content: center;
        align-content: center;
        height: 100vh;
        display: flex;
        }

        .register{
        justify-items: center;
        padding-top: 100px;

        }
    </style>







</head>
<body>


<div class = "register">
    <form action="">
        <div class="form-group">
            <i class="fas fa-user"></i>
            <input type="text" id="username" name="username" placeholder="username" required>
        </div>

        <div class="form-group">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="email" required>
        </div>

        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="password" required>
        </div>

        <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="cpassword" name="password" placeholder="confirm password" required>
        </div>


        <button type="submit" class="register-button">Register</button>

        <div class="extra-links">
             <p>Already have an account?<a href="login.html">Sign in</a></p>
        </div>


    </form>
</div>


</body>
</html>